<%= render "modal", title: "Musics" do %>
  <h1>New creator</h1>

  <%= render partial: 'form', locals: { creator: @creator } %>

  <br>

  <div>
    <%= link_to "Back to creators", admin_shared_creators_path %>
  </div>
<% end %>
