<header class="d-flex justify-content-center py-3">
  <h1>ざっくり３０秒踊ってみた投稿祭</h1>
</header>
<div class="d-flex justify-content-center py-3">
  2023/10/10 - 2023/10/12
</div>

<section class="mt-1 w-100">
  <h3>地面にめり込むほどハードルの低い投稿祭を</h3>
  <div class="row">
    <div class="col-6 card">
      <div class="card-header">
        <span class="fs-5 py-2">投稿しやすい</span>
      </div>
      <p style="white-space: pre-wrap">
        凝った成果物を発表する場ではなく、ざっくりしたノリで投稿できる場を作る
      </p>
    </div>
    <div class="col-6 card">
      <div class="card-header">
        <span class="fs-5 py-2">視聴しやすい</span>
      </div>
      <p style="white-space: pre-wrap">
        ３０秒という短時間に収めることで多くの人に視聴しやすい場を目指す
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 card">
      <div class="card-header">
        <span class="fs-5 py-2">開催しやすい</span>
      </div>
      <p style="white-space: pre-wrap">
        もっと踊ってみたの投稿祭が増えるように、
        「この程度でも出来るのだ」という先例を作る
      </p>
    </div>
    <div class="col-6 card">
      <div class="card-header">
        <span class="fs-5 py-2">プラットフォームの活用</span>
      </div>
      <p style="white-space: pre-wrap">
        他では無理でもニコニコなら出来ることがあるはず
        実験的に反応を見るための場として活用してほしい
      </p>
    </div>
  </div>
</section>
<section class="mt-1 w-100">
  <h3>想定される利用法</h3>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <ul>
          <li>振り付けRTAで、サビだけ踊ってみた</li>
          <li>フルは体力的にきついから、ワンフレーズ踊ってみた</li>
          <li>NG動画の供養</li>
          <li>思いついたネタの反応を見たい</li>
          <li>３０秒に詰め込める情報量の限界に挑む</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mt-1 w-100">
  <h3>レギュレーション</h3>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <ul>
          <li>「ざっくり３０秒踊ってみた」タグのタグロックをお願いします</li>
          <li>動画時間は３０秒程度。ざっくり前後３０秒くらい</li>
          <li>踊ってみたタグは任意</li>
          <li>特に審査とかはない</li>
          <li>目に見えるメリットとかはないですが、主催者の方でコメントつけて共有させていただきます</li>
        </ul>
      </div>
    </div>
  </div>
</section>
