<span id="article-field">
  <% if article.present? && article.valid? %>
    <pre><%= article.title.strip %></pre>
    <%= hidden_field(:impression, :article_id, value: article.id) %>
  <% end %>
</span>

