<div id="impression_tags" class="d-flex flex-wrap">
  <% impression_tags.each do |impression_tag| %>
    <span class="btn btn-sm btn-outline-secondary m-1">
      <%= impression_tag.tag_content %>
    </span>
  <% end %>
</div>
