<div id="<%= dom_id music %>">
  <div class="row m-2" >
    <div class="col-1 fw-bold">タイトル</div>
    <div class="col-10">
      <%= link_to music.title, music.url, target: :_blank %>
    </div>
  </div>
</div>
