<%= form_with(scope: :new_tags, url: my_page_impression_tags_path(impression_id: impression.id), class: 'js-impression mb-2' ) do |form| %>
  <div class="row">
    <div class="col-auto">
      <div>
        <%= form.label :new_tags, 'タグ(10件まで)', class: 'form-label' %>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <%= form.text_field :new_tags, class: 'form-control w-100' %>
    <%= form.button '登録', class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>

