<div id="<%= container_id %>" class="js-impression mt-2">
  <% tag_groups.each do |tag_group_id, tag_group| %>
    <%= tag_group.name %>
    <div class="d-flex flex-wrap">
      <% (tag_id_by_group[tag_group_id] || []).each do |tag| %>
        <% if tag.present? %>
          <%= link_to tag.content, add_tag_my_page_impression_tags_path(tag_id: tag.id, impression_id: impression.id), data: { turbo_method: :post }, class: 'btn btn-sm btn-primary m-1' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if tag_id_by_group.key?(nil) %>
    未分類
    <div class="d-flex flex-wrap">
      <% tag_id_by_group[nil].each do |tag| %>
        <%= link_to tag.content, add_tag_my_page_impression_tags_path(tag_id: tag.id, impression_id: impression.id), data: { turbo_method: :post }, class: 'btn btn-sm btn-primary m-1' %>
      <% end %>
    </div>
  <% end %>
</div>
