<div id="<%= dom_id user %>">
  <div class="row m-2" >
    <div class="col-1 fw-bold">名前</div>
    <div class="col-10">
      <%= user.name %>
    </div>
  </div>
  <div class="row m-2" >
    <div class="col-1 fw-bold">メールアドレス</div>
    <div class="col-10">
      <%= user.email %>
    </div>
  </div>
</div>
