<div id="<%= dom_id creator %>">
  <div class="row m-2" >
    <div class="col-1 fw-bold">名前</div>
    <div class="col-10">
      <%= link_to creator.name, creator.url, target: :_blank %>
    </div>
  </div>
</div>
